language: rust
cache: cargo
script:
- cargo build --verbose
- cargo test --verbose
- cargo build --release --target=$TARGET --verbose
matrix:
  allow_failures:
  - rust: nightly
  fast_finish: true
  include:
    - os: linux
      rust: stable
      env: TARGET=x86_64-unknown-linux-musl
    - os: linux
      rust: stable
      env: TARGET=x86_64-unknown-linux-musl
    - os: osx
      rust: stable
      env: TARGET=x86_64-apple-darwin
deploy:
  provider: releases
  api_key:
    secure: PQ1iMQvj2AiyO1yeWPU05qsWriVtMgabxXmbt+Tlfjis7EYUQQQwHi3ubenzMFszgaex4eP1iLM4bqxBYt143sIevpzKrtFBVCY7qjFUIKowj+iXIIZ0YeJkWsdA+4S9oxDmL61CjD+4Ey2Bs2LrT8UswXm6+SiOiWYVOGfyzZXm0tc7MS1NJT8xfHh71QPUKrVjJ6pPmjqIMIruE9aLXIE4K2X3vqWvCe9afr3SuP/vKhi2tKAhukJiA2dBhcK1y8nH/bmsC37n1bOG650tVvfebf+hLxnxyxop7cusuoTkd4hr6lp7iunQnZruiNpB7/bHtNlz8TpzmT/xJk1prGpJrTq09y6q4XWugZKnmqCnrL6RaS8DqWs8F6tVgNstyfFZu4iO085ezAS90K1uLYepv4jrr4RopAtxbe5CInsHyoF2jToyzmhh00sTtxMWxiwSNmV29hLvjeio4Y7ixT34hczk8y74hKabUmzTTcSf+gd3cg1pKwGWqo5Xf+/hpL2nMR5k9mQgjJ85gRz74deCAuSUxmaCR27pdAuYHVuiYUFOmMZBZcxrkTog5dHf438skEnnExhk2An1h9Z8CGw0lYFMAKjii5U3CkrojXlPJSqjDbWYaJwK79H+KFKlMa6ojLAo9xzZEcE42iWFUhTlUnIN+U4Lk+oLHndq9w8=
  file: target/release/filesets
  skip_cleanup: true
  on:
    repo: brycecovert/filesets
    condition: $TRAVIS_RUST_VERSION = stable
    branch: master
